* {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    font-family: Verdana, sans-serif;
}

*::-webkit-scrollbar {
    display: none;
}

body {
    background: url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h4 > a {
    text-decoration: none!important;
    color: black!important;
}