ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: 20px;
    cursor: pointer;
}

li {
    width: 190px;
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 1em 2em;
    text-decoration: none;
}

li:hover {
    background-color: #111;
}

.dropdown {
    width: 100%;
}

#dropdown-container {
    display: none;
    position: absolute;
    width: 190px;
}

.has-dropdown:hover > #dropdown-container {
    display: block;
}
